.employee{
    height: 80vh;
    width: 20vw;
    
    display: flex;
    flex-direction: column;
}
.Toolbar{
    height: 10vh;
    display: flex;
    flex-direction: row;
    padding: 4px;
}
.Employeelist{
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.myInput{
    height: 10px;
    width: 20px;
}
button{
    margin: 4px;
    height: 35px;
    width: 95px;
}
.empbt{
    height: 35px;
    width: 65px;
}
.del{
    height: 35px;
    width: 60px;
    background-color: aqua;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 15%;
    margin-top: 10%;

}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 10%;
}
h2{
    margin: 15%;
}